.democrat {
  border-radius: 5px;
  border: 3px solid blue;  
  padding-top: 10px;
  padding-bottom: 5px;
}

.republican {
  border-radius: 5px;
  border: 3px solid red; 
  padding-top: 10px;
  padding-bottom: 5px;
}

.default {
  border-radius: 5px;
  border: 1px solid black; 
  padding-top: 10px;
  padding-bottom: 5px;
}

.articleDetail{
  font-size: small;
}

.snippet{
  font-size: large;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #7A3E48;
}

text {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
